body {
    background-color: yellow;
}
h1{
    text-align: center;
}
h2 {
    text-align: center;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.div1 {
    text-align: center;
}
body{
    color: blueviolet;
}

    .LINK {
 
        background-color:  wheat;
        padding: 7.5px;
        text-decoration: none;
        color: blueviolet; 
        margin: 500px;
        border-radius: 10px;
        font-size: medium;
       
    }
    .LINK{
        text-align: center;
    }
a:hover{
    background-color: white;
   border-radius: 10px;
   
}
.return{
    text-decoration: none;
    background-color: wheat;
    padding: 7.5px;
    border-radius: 10px;
    text-align: right;
}